# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

parameters:
    paginator.page: 1
    paginator.limit: 25

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'

    App\Application\Controller\:
        resource: '../src/Application/Controller'
        tags: ['controller.service_arguments']

    App\Application\Service\:
        resource: '../src/Application/Service'
        tags: ['paginator.service_arguments']
        arguments: ['%paginator.page%', '%paginator.limit%']

    App\Application\Normalizer\EntityNormalizer:
        tags: ['serializer.normalizer']

    App\Balance\Controller\Api\:
        resource: '../src/Balance/Controller/Api'
        tags: ['controller.service_arguments']