{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">BuTrackero</a>
    </nav>

    <div class="jumbotron">
        <h1 class="display-3">BuTrackero</h1>
        <h2 class="display-5">Aplikacja do śledzenia i analizowania wydatków</h2>
    </div>

    <footer class="footer-copyright text-center py-3">
        <p>Koddlo Krystian Żądło © 2018</p>
    </footer>
{% endblock %}